@font-face {
    font-family: "Lato";
    src: url('./font/Lato-Regular.ttf');
}
@font-face {
    font-family: "Lato";
    src: url('./font/Lato-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url('./font/Lato-Light.ttf');
    font-weight: 300;
}

/* DEFAULT STYLE */
body {
    font-family: "Lato";
    color: #343090;
}
a {
    text-decoration: none;
    color: #343090;
}
h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.25;
}
h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.25;
}
h3 {  
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.25;
}

/* USEFUL SECTION/DIV CLASSES */
.inner {
    max-width: 75rem;
    margin: 0 auto;
}
.center-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
}

/* BUTTONS */
.btn {
    font-family: "Lato";
    border: none;
    background: none;
    text-decoration: none;
    color: #343090;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2.5px solid #343090;
    height: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0 1.25rem;
    transition: 0.3s;
}
.btn:hover {
    background: #343090;
    color: #ffffff;
}

/* HEADER */
header {
    height: 6rem;
}
header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .header-left {

}
header .inner .header-left img {
    position: relative;
    display: block;
    height: 4rem;
}
header .inner .header-right {
    display: flex;
}
#contact {
    display: flex;
    align-items: center;
}
#check-cv {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

/* INTRO */
.section--intro {
    width: 100%;
}
.section--intro h1 {
    margin-top: 9rem;
}
.section--intro h3 {
    margin-top: 1.5rem;
}
.section--intro .center-wrap {
    margin-top: 5rem;
}
#avatar {
    height: 20rem;
    width: 18.86rem;
    background: url('../img/avatar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: 0.1s;
}
#avatar:hover {
    background: url('../img/avatar_hover.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#avatar:active {
    background: url('../img/avatar_active.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* ABILILTIES */
.section--abilities {
    background: #343090;
    height: 50rem;
}
.section--abilities .fill-behind {
    position: relative;
    background: #343090;
    height: 10rem;
    transform: translateY(-140px);
    z-index: -1;
    border-radius: 5rem 5rem 0 0;
}
.section--abilities h2 {
    color: #FFFFFF;
    margin-bottom: 3rem;
}
.section--abilities ul.grid.of-abilities {
    grid-template-columns: repeat(3, 1fr);
}
.section--abilities ul.grid.of-abilities li {
    background: #FFFFFF;
    height: 12rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 0px rgba(255, 255, 255, 0.2);
    position: relative;
    transition: 0.3s;
}
.section--abilities ul.grid.of-abilities li:hover {
    background: #6592fd;
    color: #FFFFFF;
}
.section--abilities ul.grid.of-abilities li .image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--abilities ul.grid.of-abilities li .image-wrapper img {
    height: 8rem;
    opacity: 0.2;
}
.section--abilities ul.grid.of-abilities li h3 {
    margin-bottom: 2rem;
    font-weight: bold;
}

.section--abilities ul.grid.of-abilities li .block-wrapper {
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.section--abilities ul.grid.of-abilities li .block-wrapper p {
    text-align: center;
}

/* PORTFOLIO */
.section--portfolio {
    padding-top: 6rem;
}
.section--portfolio p {
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    text-align: center;
}
.section--portfolio ul.grid.of-portfolio {
    grid-template-columns: repeat(3, 1fr);
}
.section--portfolio ul.grid.of-portfolio a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: tomato;
    height: 15rem;
    margin: 1rem;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 1rem;
    transition: 0.3s;
}
.section--portfolio ul.grid.of-portfolio a:hover {
    background: orange
}
}
.section--portfolio ul.grid.of-portfolio a li {
    text-align: center;
}